<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="privacy-policy">
      <div class="row text-left">
        <h2>Performance</h2>
        <p> We Cash is the application for facilitating the currency exchange worldwide. Wherever and Whenever</p>
        <p> We Cash is suitable for tourist who need directly exchange not using broker. More convenience, Faster anywhere in
          the world
        </p>
        <p> We Cash is established by non-profit organizer from gain on exchange rate and no any fee to be charged</p>

        <h2>Focus to the Goal</h2>
        <p> Our goal is to create the currency exchange application for all tourist to be highly worth and save the most of time.
          Easy to use wherever and whenever. We cash is ready to develop application for your highest satisfaction and accept
          any comment from you. Please comment and send back to us at……………….. Then, we will bring your comment to develop
          our application to be the best application for currency exchange.
        </p>

        <h2>Privacy Policy</h2>
        <p> We Cash understand that your personal information is the most important and we respect your privacy. In order to
          reaching We Cash’s goal only, we will inform you for your understanding regarding the obtainability, usage or disclosure
          of all information, which these must be consented by you.
        </p>

        <h2>Consent and Responsibility</h2>
        <p> We Cash is responsible for continuously develop application to be more convenient and efficient.
        </p>
        <p> We Cash App users can apply using this application by their consent and responsible for any risk or damage that may
          happen by yourselves. We, the application founder, hold harmless from any responsibility for damage or other liability
          arising from these transaction.</p>
      </div>

      <div class="row text-left">
        <h2>คุณลักษณะ</h2>
        <p> We Cash เป็น App ที่อำนวยความสะดวกในการแลกเปลี่ยนเงินทุกสกุล ทั่วโลก ทุกที่ทุกเวลา</p>
        <p> We Cash เหมาะสำหรับนักเดินทาง นักท่องเที่ยวที่ต้องการแลกเงินกันเอง สะดวก รวดเร็ว เกิดขึ้นได้ทุกที่ทุกเวลา โดยไม่ผ่านคนกลาง</p>
        <p> We Cash ผู้ก่อตั้งสร้างขึ้นมาโดยไม่ได้แสวงหากำไรจากอัตราแลกเปลี่ยนและไม่มีค่าธรรมเนียมใดๆ </p>

        <h2>ทุ่มเทเพื่อบรรลุเป้าหมาย</h2>
        <p> เป้าหมายของเราคือ สร้าง App เพื่อใช้ในการแลกเปลี่ยนเงิน สำหรับนักเดินทาง นักท่องเที่ยว เพื่อให้เกิดการคุ้มค่าและประหยัดเวลามากที่สุด
          และสะสวกใช้ได้ทุกที่ทุกเวลา We Cash พร้อมพัฒนา App เพื่อให้คุณได้มีความพึ่งพอใจสูงสุด และพร้อมรับฟังความคิดเห็นจากคุณ
          โปรดแสดงความคิดเห็นส่งมาหาเราได้ที่ ………………… และเราจะนำความคิดเห็นของคุณมาพัฒนา App ให้เป็น App แลกเปลี่ยนเงินที่ดีที่สุด</p>

        <h2>นโยบายความเป็นส่วนตัว</h2>
        <p> We Cash เข้าใจดีว่าข้อมูลของท่านเป็นสิ่งสำคัญยิ่งและเคารพสิทธิความเป็นส่วนตัวของท่าน โดยเราจะแจ้งให้ท่านทราบและต้องได้รับความยินยอมจากท่านก่อนที่จะเก็บข้อมูลและ/หรือใช้ข้อมูลและ/หรือเปิดเผยข้อมูลเพื่อบรรลุเป้าหมายของ
          We Cash เท่านั้น</p>

        <h2>เรื่องความสมัครใจและความรับผิดชอบ</h2>
        <p> We Cash รับผิดชอบที่จะพัฒนา App ให้ใช้ง่ายและมีประสิทธิภาพมากขึ้นเรื่อยๆ</p>
        <p> ผู้ใช้งาน App We Cash เข้ามาสมัครใช้ App ด้วยความสมัครใจและรับผิดชอบต่อความเสี่ยงและความเสียหายที่อาจจะเกิดขึ้นด้วยตัวเองเท่านั้นโดยจะไม่มาเรียกร้องความเสียหายกับผู้ก่อตั้ง
          App ไม่ว่ากรณีใดๆ</p>
      </div>

      <div class="row text-left">
        <h2>性质</h2>
        <p> We Cash 是 App 为全世界服务兑换银币最方便的地方。</p>
        <p> We Cash适合需要远行或旅游者，无论在什么地方，什么时候，都能以最快ˎ最方便的速度让你为兑换银币而不用经 过中介人来兑换。
        </p>
        <p> We Cash发起人的目的并不是为兑换利润，同时也没有任 何手续费。</p>

        <h2>为达到目标而倾力投注</h2>
        <p> 我们建设App的目标是为用以旅游者和出门人在兑换银币 时的方便，不但省时而且又合算。 We Cash为让你得到最高的满意而发展 App，同时我们也能接受您的建议，希望您能把好建议发给我们。</p>

        <h2>个人的政策</h2>
        <p> We Cash了解到您每个人的资料是非常重要的，也尊敬您 私人的利权，我们在收集您的资料之前将会预先通知您并得到您的同意与允许后才能收集，为达到We Cash的目标而应用资料或公开资料。</p>

        <h2>自愿和负责</h2>
        <p> We Cash负责发展App不但容易使用而且也增加效率。</p>
        <p> 使用App We Cash 自愿报名参加以及要负责有时自己会遇 到的损失和冒险，使用者将不会对建设App的人要求任何 损失陪赏。</p>
      </div>

    </div>
  </div>
</section>